<!-- Start Test Modal-->
    <div class="modal fade" id="startTestModal" tabindex="-1" role="dialog" aria-labelledby="startTestModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="startTestModal">Ready to test you skills?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Start" below if you are ready start a new test.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary btn-modal danger-gradient" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary btn-modal primary-gradient" href="/generate-quiz/<%= currentUser.username %>">Start</a>
          </div>
        </div>
      </div>
    </div>